<!DOCTYPE html>
<html lang="zh-TW">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>Google Test001</title>
    <meta property="fb:app_id" content="2435108729902508"/>
    <meta property="og:type" content="website"/>
    <meta property="og:title" content="Google Test001"/>
    <meta itemprop="name" content="Google Test001"/>
    <meta name="description" content="文章大綱"/>
    <meta property="og:description" content="文章大綱"/>
    <meta itemprop="description" content="文章大綱"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css"/>
    <link rel="stylesheet" href="dist/style.min.css"/>
    <!-- Google Tag Manager-->
    <script>
      (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-PGQ9WQT');
    </script>
  </head>
  <body>
    <!-- Google Tag Manager (noscript)-->
    <noscript>
      <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PGQ9WQT" height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <div class="container" id="app">
      <div class="double-wrap" :class="{ hide: !loading }">
        <div class="double">
          <div class="double-bounce1"></div>
          <div class="double-bounce2"></div>
        </div>
      </div>
      <section class="form w-640">
        <div class="text-center">
          <h1>Google Test001</h1>
        </div>
        <div class="form-group">
          <label for="main_id">輸入ID</label>
          <input class="form-control" id="main_id" type="text" list="typelist" placeholder="選擇Id" v-model="id" @input="limitIdLen(id)"/>
          <datalist id="typelist">
            <option>F126144709</option>
            <option>A226469431</option>
          </datalist>
        </div>
        
        <div class="two-col">
          <div class="col">
            <div class="form-group">
              <label for="name">姓名</label>
              <div class="prepend">
                <input class="form-control" id="name" type="text" v-model="person.name" disabled="disabled"/>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <label for="phone">電話</label>
              <input class="form-control" id="phone" type="tel" v-model="person.phone" disabled="disabled"/>
            </div>
          </div>
        </div>
        <div class="submit"><a href="#" :class="{ disabled: person.name == undefined }" @click.prevent="submit">送出</a></div>
      </section>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.11/vue.min.js"></script>
    <script src="dist/main.min.js"></script>
  </body>
</html>
